services:
  sql-server:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    networks:
      - registry-net
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourSecurePassword123!
    ports:
      - "1433:1433"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - registry-net

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1 # Unique broker ID
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181  # Zookeeper connection
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092 # Tells where to find kafka for the containers and host
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT # Unencrypted communication
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT 
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1 # Since we have only one broker there is no data replication
    networks:
      - registry-net
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 29092 || exit 1"] # Checks every 10 seconds if kafka is reachable on port 29092
      interval: 10s
      timeout: 5s
      retries: 5

  identity-api:
    build:
      context: . # Root of the project, where docker starts to looking for the Dockerfile
      dockerfile: src/IdentityService/Identity.Api/Dockerfile 
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development # Tells ASP.NET Core to run in Development mode
      - ConnectionStrings__IdentityDbContext=Server=sql-server;Database=IdentityDB;User Id=sa;Password=YourSecurePassword123!;Encrypt=False;TrustServerCertificate=True;
    depends_on:
      sql-server:
        condition: service_started
    networks:
      - registry-net

  registry-api:
    build:
      context: . # Root of the project, where docker starts to looking for the Dockerfile
      dockerfile: src/RegistryService/Registry.Api/Dockerfile
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development # Tells ASP.NET Core to run in Development mode
      - IdentityService__Url=http://identity-api:8080
      - Kafka__BootstrapServers=kafka:29092 # Tells the service where to find kafka
      - ConnectionStrings__SubscriptionDbContext=Server=sql-server;Database=RegistryDB;User Id=sa;Password=YourSecurePassword123!;Encrypt=False;TrustServerCertificate=True;
    depends_on:
      identity-api:
        condition: service_started
      kafka:
        condition: service_healthy
      sql-server:
        condition: service_started
    networks:
      - registry-net

  event-engine-api:
    build:
      context: . # Root of the project, where docker starts to looking for the Dockerfile
      dockerfile: src/EventEngineService/EventEngine.Api/Dockerfile
    ports:
      - "5002:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development # Tells ASP.NET Core to run in Development mode
      - Kafka__BootstrapServers=kafka:29092 # Tells the service where to find kafka
      - ConnectionStrings__EventEngineDbContext=Server=sql-server;Database=EventEngineDB;User Id=sa;Password=YourSecurePassword123!;Encrypt=False;TrustServerCertificate=True;
    depends_on:
      kafka:
        condition: service_healthy
      sql-server:
        condition: service_started
    networks:
      - registry-net

networks:
  registry-net:
    driver: bridge
